.switch {
  background-color: #6c72f9;
}

.option {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.myVoteCardTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
