.normal {
}

.title {
  color: white;
  margin: 0;
}

.header {
  background-color: #4a546b;
  color: #FFFDCF;
}

.site-layout-content {
  text-align: center;
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
