.normal {
  background-color: #fff;
}

.title {
  color: white;
  margin: 0;
}

.header {
  background-color: #FFF;
}

.content {
  background-color: #fff;
  min-height: 80vh;
}
.logo {
  margin: 12px 16px 16px 12px;
  float: left;
}

.heading {
  margin: 12px 16px 16px 12px;
}
