.normal {
  background-color: #fff;
}

.title {
  color: white;
  margin: 0;
}

.header {
  padding: 8px 0;
  margin: 8px 0;
  background-color: #FFF;
}

.content {
  background-color: #fff;
  min-height: 80vh;
}
.logo {
  float: left;
}